In [2]:
a=3
b=3
c=3
c=c+1

print(id(a))
print(id(b))
print(id(c))

1404607201584
1404607201584
1404607201616

### why the id changes ? or remain same from a and b?
All the variable are repsresenting by the same id when allocating to them.Then what is the purpose ?
Python fix the variable allocating to the map. and the variable is immutable , so modification cannot be done when it map in the memory, therfore in a and b the value remain stagnant. wherease as in C the value changed.

### NOTE

Compute the range of the variable having same value. and kis range par jakar value change ho jaa rhi hai

In [3]:
d=10
#for i in range(1,200000):
    #print(id(d))
print("large number of outputs")

large number of outputs

## LIST

In [4]:
# List are mutable and can be change, whereas in variable the memory is fixed.

In [5]:
# storing the interger value
list_of_integer=[1,2,3,4,5]
for i in list_of_integer:
    print(i, end=" ")
print(list_of_integer)
print(id(list_of_integer))
print(type(list_of_integer))

1 2 3 4 5 [1, 2, 3, 4, 5]
1404687866688
<class 'list'>

In [6]:
# length of the list
print(len(list_of_integer))

5

In [7]:
# accessing the value from the list
print(list_of_integer[0])

1

In [8]:
print(list_of_integer[-1])  # agar last value to fetch karna hai toh

5

# List function/method

In [9]:
# append
list_of_integer.append(10)
list_of_integer

[1, 2, 3, 4, 5, 10]

In [10]:
# remove
list_of_integer.remove(10)

In [11]:
list_of_integer.remove(10)

ValueError: list.remove(x): x not in list

In [ ]:
list_of_integer

In [13]:
# storing list in list
# matrix store
a=[40,50,60]
b=[60,70,80]
c=[a,b]
print(c)

[[40, 50, 60], [60, 70, 80]]

In [14]:
#accessing the matrix
c[0][1]

50

In [15]:
c[1][1]  # [row][column]

70

In [16]:
a*2   # python is general purpose language

[40, 50, 60, 40, 50, 60]

## TUPLE BASIC

In [17]:
# storing the variable in the list that cannot be changes. 
a=(10,11) # tuple immutable hain.modification nhi honge
print(a)

(10, 11)

In [18]:
# append will not work in tuple, as tuple already is immutable
a.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
# count the number of element in the tuple 
a.count(10)

1

## set

In [ ]:
# change in set and list :  duplicate value cannot repeats

In [20]:
seta={1,2,3}
print(seta)

{1, 2, 3}

In [21]:
seta.add(2)

In [22]:
print(seta)

{1, 2, 3}

In [23]:
seta.add(5)
print(seta)

{1, 2, 3, 5}

In [24]:
seta.add(2)
print(seta)

{1, 2, 3, 5}

## Dictionary or json

In [1]:
dict1={"name":"Anu","batch":"b1"}
dict1

{'name': 'Anu', 'batch': 'b1'}

In [26]:
# accesing the key
dict1.keys()

dict_keys(['name', 'batch'])

In [2]:
dict1.values()

dict_values(['Anu', 'b1'])

In [ ]:
# in json and dict, the key are store in string

In [3]:
# accesing the value in the dictionary
dict1["name"]

'Anu'

In [29]:
dict1["batch"]

'b1'

In [ ]:
# write a program that take user input in numeric form and print it table

In [12]:
a=int(input("enter the number =>"))

for i in range(1,11):
    val=a*i
    print(f"{a} x {i}=> {val}")

enter the number =>5
5 x 1=> 5
5 x 2=> 10
5 x 3=> 15
5 x 4=> 20
5 x 5=> 25
5 x 6=> 30
5 x 7=> 35
5 x 8=> 40
5 x 9=> 45
5 x 10=> 50

In [ ]:
# write a function that gives sum ,average, min and maximum of all the input argument

In [39]:
def calc(a,b,c):
    sum1=a+b+c
    average=sum1/3
    print(f"sum of the number is {sum1}")
    print(f"average of the number is {average}")
    print(f"minimum of the number is {min(a,b,c)}")
    print(f"maximum of the number is {max(a,b,c)}")

x= int(input("enter the value 1=> "))
y= int(input("enter the value 2=> "))
z= int(input("enter the value 3=> "))
calc(x,y,z)

enter the value 1=> 10
enter the value 2=> 20
enter the value 3=> 30
sum of the number is 60
average of the number is 20.0
minimum of the number is 10
maximum of the number is 30

In [45]:
# what is the user want to add more argument

def calc(a,b,c,d=0,e=0):
    sum1=a+b+c+d+e
    average=sum1/5
    print(f"sum of the number is {sum1}")
    print(f"average of the number is {average}")
    print(f"minimum of the number is {min(a,b,c,d,e)}")
    print(f"maximum of the number is {max(a,b,c,d,e)}")

calc(10,20,30,40,50)
print()
calc(10,20,40)

sum of the number is 150
average of the number is 30.0
minimum of the number is 10
maximum of the number is 50

sum of the number is 70
average of the number is 14.0
minimum of the number is 0
maximum of the number is 40

In [ ]:
def calc(a,b,*args):
    print(a)
    print(b)
    print(args)

calc(10,20,30,40,50)
print()
calc(10,20,40)