In [3]:
import pandas as pd

data={
    'Name':['Alice','Bob','charlie'],
    'Age':[25,30,35],
    'city':['NY','LA','Chicago']
            
}

df=pd.DataFrame(data)
print(df)

      Name  Age     city
0    Alice   25       NY
1      Bob   30       LA
2  charlie   35  Chicago

In [4]:
print(df['Name'])

0      Alice
1        Bob
2    charlie
Name: Name, dtype: object

In [6]:
print(df[['Name','Age']])

      Name  Age
0    Alice   25
1      Bob   30
2  charlie   35

In [7]:
data2 = {
    'City': ['New York', 'New York', 'Chicago', 'Chicago'],
    'Year': [2019, 2020, 2019, 2020],
    'Sales': [200, 250, 150, 180]
}
df2 = pd.DataFrame(data2)

# Create a pivot table
pivot = df2.pivot(index='City', columns='Year', values='Sales')
print(pivot)

Year      2019  2020
City
Chicago    150   180
New York   200   250

In [8]:
data = {
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago'],
    'Year': [2019, 2019, 2020, 2020],
    'Population': [8.4, 3.9, 8.3, 2.7]
}
df = pd.DataFrame(data)

# Create a pivot table with 'Year' as columns
pivot = df.pivot_table(values='Population', index='City', columns='Year')
print(pivot)

Year         2019  2020
City
Chicago       NaN   2.7
Los Angeles   3.9   NaN
New York      8.4   8.3

In [9]:
fileName="test.xlsx"
df.to_excel(fileName)

In [10]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['IT', 'HR', 'IT', 'Finance'],
    'Salary': [50000, 52000, 62000, 58000]
}
df = pd.DataFrame(data)

# Filter employees with Salary > 60000
high_salary = df[df['Salary'] > 60000]
print(high_salary)

      Name Department  Salary
2  Charlie         IT   62000